
#include <zephyr/dt-bindings/interrupt-controller/ite-intc.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	#size-cells = <0x2>;
	#address-cells = <0x2>;
	compatible = "cvitek,cv180x";
	model = "Cvitek. CV180X ASIC. C906.";

	ram0: memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x00 0x3f40000>;
	};

	c906_cpus:cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		timebase-frequency = <25000000>;

		cpu-map {
			cluster0 {

				core0 {
					cpu = <0x00>;
				};
			};
		};

		cpu@0 {
			device_type = "cpu";
			reg = <0x00>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdvcsu";
			mmu-type = "riscv,sv39";
			clock-frequency = <25000000>;

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <0x01>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
			};
		};
	};


	soc {
		#address-cells = <0x02>;
		#size-cells = <0x02>;
		compatible = "simple-bus";
		ranges;

		plic0: interrupt-controller@70000000 {
			riscv,ndev = <101>;
			riscv,max-priority = <0x07>;
			reg-names = "control";
			reg = <0x00 0x70000000 0x00 0x4000000>;
			interrupts-extended = <&cpu0_intc 0xffffffff &cpu0_intc 0x09>;
			interrupt-controller;
			compatible = "riscv,plic0";
			#interrupt-cells = <0x02>;
			#address-cells = <0x00>;
		};

		clint@74000000 {
			compatible = "sifive,clint0";
			interrupts-extended = <&cpu0_intc 0x03 &cpu0_intc 0x07>;
			reg = <0x00 0x74000000 0x00 0x10000>;
			clint,has-no-64bit-mmio;
		};
	};

	osc: oscillator {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "osc";
	};

	clk: clock-controller {
		compatible = "cvitek,cv180x-clk";
		reg = <0x0 0x03002000 0x0 0x1000>;
		clocks = <&osc>;
		#clock-cells = <1>;
	};

	uart0: serial@04140000 {
		compatible = "ns16550";
		reg = <0x0 0x04140000 0x0 0x1000>;
		clock-frequency = <25000000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		interrupts = <44 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&plic0>;
	};
};